obj
bin
csx
deploy
Profiles
TestResults
approot
Downloaded Profiling Logs
_ReSharper.*
*.DotCover
*.ReSharper
*.ReSharper.user
*.DotSettings.user
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.testsettings
~$*